*{
    margin: 0;
    padding: 0;

}

.hero-section {
    background-color: #9b7bc9;
    height: 95vh;
}

.hero-section2 {
    background-color: #e6e0dc;
    height: 80vh;
}

.hero-section3 {
  background-color: #8e8fdf
}

.hero-section4 {
  background-color: #9d7bc4;
  height: 65vh;
}

.hero-section5{
  background-color: #e6e0dc;
  height: 35vh;
}

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');



 /* Applying CSS to sphere */
.tagcloud {
  margin-top: 20%;
  margin-left: 20%;
  letter-spacing: 1px;
  font-size: 20px;
}

/* Change color of each text in sphere on hover   */
.tagcloud--item:hover {
  color: #9b7bc9; ;
}

.welcome h4 {
  font-size: 2em;
}

.welcome h2 {
  font-size: 5vw;
  margin: 20px 0px;
}

.welcome h3 {
  font-size: 2vw;
}

.welcome p {
  width: 750px;
  font-size: 20px;
  line-height: 1.5;
  margin: 20px 0px;
}

.pictureht {
  height: 50vh;
  margin-top: 20%;
  margin-left: 30%;
}


.card {
  border: 3px solid black;
  border-radius: 1%;

}

.card-body-skills {
  background-color: #7d3b98;

}

.contact-btn {
  width: 25vh;
  color: black;
  border-radius: 10em;
  font-size: 17px;
  padding: 1em 2em;
}

.contact1{
  margin-left: 10%;

}



